h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: #D90404;
}

h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #f2b705;
}

h1 {
    font-size: 600%;
    font-weight: 200;
}

h2 {
    font-size: 400%;
    font-weight: 200;
}

/* Pseudo class */
h2::after {
    display: block;
    background-color: #078c31;
    margin: 40px auto 30px;
    height: 5px;
    width: 100px;
    content: "";
}

h4 {
    font-size: 150%;
    font-weight: 150;
    padding: 20px 0;
}

p, li, a {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

p.destaque {
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    width: 60%;
}

/* ------------------*/
/* ELEMENTOS HEADER */
/* ---------------- */

header div.chamada h1 {
    color: #fff;
    /*Adiciona sombra ao texto. O primeiro valor equivale ao eixo horizontal, o segundo ao eixo vertical e o terceiro ao espalhamento da sombra (quanto maior o valor mais espalhada ela irá ficar. Quarto é a cor */
    text-shadow: 4px 6px 10px #000;
}

header div.chamada h4 {
    font-size: 250%;
    text-shadow: 4px 6px 10px #000;
    margin-bottom: 55px;
}

header div.chamada a {
    font-size: 110%;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 20px 80px;
    border-radius: 50px;
    display: inline-block;
    /* É a transição suave de uma cor para outra, para utiliza-lo deverá ser informado a cor desejada em seguida porcetagem dessa cor que deseja colocar */
    background: linear-gradient(rgba(7, 140, 49, 55) 0%, rgba(6, 89, 2, 35) 50%, rgba(6, 89, 2, 35) 100%);
}

/* SEÇÃO DOMINGO PERFEITO */

div.pontos-chaves h4 {
    color: #404040;
}

div.pontos-chaves h4::after {
    display: block;
    background-color:#078c31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: "";
}
/* --------------------*/
/*    SEÇÂO PIZZA     */
/* ------------------*/

section.pizza p.destaque {
    color: #fff;
    width: 40%;
}

section.pizza ul li, section.pizza ul li a {
    color: white;
    list-style: none;
    line-height: 1.9;
    font-size: 90%;
    text-transform: uppercase;
    text-decoration: none;      
}
/* ----------------------------- */
/*      SEÇÃO - DEPOIMENTOS      */
/* ---------------------------  */

section.testemunha p.destaque {
    width: 40%;
    background-color: rgba(255,255,255,0.7);
}



